<!-- .row -->
<div class="row pt-4">
  <!-- pagination -->
  <div class="">
    <pagination-controls
      class="text-right"
      (pageChange)="page = $event"
    ></pagination-controls>
  </div>
  <!-- /pagination -->
  <div class="col-12">
    <!-- .card -->
    <div class="card">
      <!-- .card-header -->
      <div class="card-header">
        <h3 class="card-title">Clinics</h3>

        <div class="card-tools">
          <form action="">
            <div class="input-group input-group-sm" style="width: 150px">
              <input
                type="text"
                name="table_search"
                class="form-control float-right"
                placeholder="Search"
              />

              <div class="input-group-append">
                <button class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /.card-header -->

      <!-- .card-body -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-wrap">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let clinic of clinicsList
                  | paginate: { itemsPerPage: 10, currentPage: page }
              "
            >
              <td>{{ clinic.id }}</td>
              <td>{{ clinic.name }}</td>
              <td>{{ clinic.streetAddress + ", " + clinic.city }}</td>
              <td>{{ clinic.phone }}</td>
              <td>{{ clinic.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
<!-- /.row -->
