<div>aici vor fi grafice</div>

<br><br>
<div>badge NEW - clinics: cand se adauga o clinica noua, iti afiseaza badge new, dai click pe new = ruta catre pagina cu detaliile clinicii nou adaugate</div>

<br><br>
<div>badge 6- patients: cand se adauga pacienti noi, iti afiseaza badge X, dai click pe X = ruta catre lista cu pacienti - pagina unde apare noul pacient creat daca am 1000 pacienti, lista in ordinea adaugarii de exemplu, ultimii pacienti adaugati vor fi pe ultima pagina... ordine alfabetica???? si badge-urile sa fie vizibile un timp dupa adaugarea noilor elemente...dupa care se ascund </div>



